# Executáveis gerados pela compilação
baseline/02_montecarlo_pi
baseline/02_montecarlo_pi_perfilamento
*.exe

# Arquivos objeto e saídas de compilação
*.o
*.out

# Configurações locais do VS Code
.vscode/