# Executáveis gerados pela compilação
baseline/02_montecarlo_pi

# Arquivos temporários
*.o
*.out

# Configurações locais
.vscode/*.exe
baseline/02_montecarlo_pi
baseline/02_montecarlo_pi_perfilamento
